h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

p{
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

li{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

.box{
    border: 1px;
    margin: 0px;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header header'
    'sidebar main'
    'footer footer'

}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px
}
.header{
    background-color: #F4FEC1;
    color: Black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main{
    grid-area: main;
    grid-template-columns: auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    height: 85vh;
    
}
.main img{
    margin: 2px;
    border: 2px;
    max-height: 250px;
    max-width: 278px;
    margin: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid #68534D;
    
}
.titulolibro{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    text-align: center;
    color: Black;
    border: 2px solid #68534D;
    margin: 5px;
    gap: 10px;

   
    
}

.Sidebar{
    grid-area: sidebar;
    grid-template-columns: auto auto;
    height: 85vh;
}
.Sidebar{
    background-color: #D2D68D;
    color: black;
}
.footer{
    grid-area: footer;
    background-color:  #68534D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.itemlibro{
    flex-wrap: wrap;
    flex-grow: 1;
    width: 33%;   
    border: 2px solid grey;
}

.text-muted{
    color: grey;
}
.titulolibroh{
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    text-align: center;
    color: Black;
    background-color: #D2D68D;
    border-bottom: #D2D68D;
    margin: 10px;
}
.titulolibroh:hover{
    background-color: red;
}
